    GLOBAL_SETTINGS
    LAB_MASTER_SEED a_xoda_student_master_seed
    REGISTRY labattt2025
NETWORK LAN
     MASK 165.155.0.0/24
     GATEWAY 165.155.0.1
CONTAINER attack
     USER ubuntu
     X11 NO
     LAN 165.155.0.60
     NO_GW YES
     NO_PRIVILEGE YES
CONTAINER server
     USER ubuntu
     X11 YES
     LAN 165.155.0.70
