_webmin_nmap = matchany : string_contains : _nmap : answer=MiniServ
nmap = time_before : _webmin_nmap : _webmin_nmap
firefox = time_before : _firefox : _firefox
upload_exec = time_before : _upload_exec_pre : _upload_exec_exploit
packageup_rce = time_before : _packageup_rce_pre : _pagekup_rce_exploit
backdoor_exec = time_before : _backdoor_pre : _backdoor_exploit
readflag = boolean : _fileview1 or _fileview2
_adduser_or_useradd = boolean : _adduser_command or _useradd_command
adduser_sudo = time_before : _adduser_or_useradd : _givesudo_command
