    GLOBAL_SETTINGS
    LAB_MASTER_SEED a_xoda_student_master_seed
    REGISTRY labattt2025
NETWORK NETWORKS
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER attack
     USER ubuntu
     X11 YES
     NETWORKS 172.20.0.2
CONTAINER server
     USER ubuntu
     X11 NO
     NETWORKS 172.20.0.3
