nmap = matchany : string_equal : _nmap : answer=Apache
vsftpd = time_before : _vsftpd_pre : _vsftpd_exploit
openssh = time_before : _openssh_pre : _openssh_exploit
http = time_before : _http_pre : _http_exploit
samba_symlink = time_before : _samba_symlink : _smb_client
_samba_usermap = boolean : _usermap_pre and _usermap_exploit
_smb_hashdump = boolean : _hashdump_pre and _hashdump_exploit
samba_exploit = boolean : _samba_usermap and _smb_hashdump
tomcat_exploit = time_before : _tomcat_pre : _tomcat_exploit
read_flag = boolean : _flagview1 or _flagview2
