nmap = matchany : string_equal : nmap_result : answer=open
curl = time_before : _curl_first : _curl_second
firefox = time_before : _firefox : _firefox
exiftran_vul = time_before : _exiftran_pre : _exiftran_exploit
readflag = boolean : _flagview1 or _flagview2
decode_flag = boolean : _decode_1 or _decode_2
